.root1 {
    background: #fafafa;
    padding-bottom: 20px;
}

.text-container {
    max-width: 60%;
    margin: auto;
    text-align: center;
}

.headName {
    font-size: 55px;
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin-block: 10px;
    color: #7d0202;
}

.para-cont {
    font-size: 20px;
    /* font-family: "Playfair Display"; */
    font-weight: 400;
    margin-block: 10px;
}

.img-continer {
    display: flex;
    flex-wrap: wrap;
    max-width: 62%;
    margin: auto;
    justify-content: center;
    gap: 12px;
}